**/__pycache__/**
.idea/
spotify-dl/.cache-
spotify-dl/.cache-sathyabhat
spotify_dl.egg-info/
.cache-
spotify_dl/.cache-sathyabhat
build/
dist/
downloaded_songs.txt
songs.txt
unins
*.pyc
*.mp3
.coverage
.vscode/**